@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins&display=swap");

/* Theming */
:root {
  --white: #F9F9F9;
  --black: #36383F;
  --gray: #85888C;
}

/* variables */

/* Base reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

/* Base styling */

body {
  background-color: var(--white);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #FFF;
}

/* Need the following for having a higher specificity */

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  z-index: 2;
  font-size: 72px;
  background: -webkit-radial-gradient(#E8F5E9, #B2DFDB);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 48px;
  color: #2196F3;
}

p {
  z-index: 1;
  font-size: 2rem;
  color: #E7DFBE;
}

@media (max-width: 768px) {
  h1 {
    font-size: 64px;
  }
}

/* Navigation Bar Styling   background: #3e4e88; */

.nav {
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: var(--black);
  box-shadow: 0 0px 0 rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 10;
  overflow: hidden;
}

nav ul li a {
  text-decoration: none;
}

nav ul li a.active {
  text-decoration: underline;
  text-underline-offset: 8px;
  pointer-events: none;
}

nav ul li:hover>a:not(.active) {
  text-decoration: underline;
  text-underline-offset: 8px;
}

nav ul li:hover::after>a:not(.active) {
  width: 100%;
}

.menu a {
  display: block;
  padding: 30px;
  color: var(--white);
}

.menu a:hover {
  background-color: var(--gray);
  font-weight: bolder;
  text-underline-offset: 8px;
}

.menu p {
  display: block;
  padding: 30px;
  color: var(--white);
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: #FFF transparent transparent transparent;
  transition: transform 0.3s ease;
}

.subnav:hover .caret {
  transform: rotate(180deg);
}

.nav {
  max-height: 0;
  transition: max-height 0.5s ease-out position;
}

/* Sub nav */

.subnav-content {
  background-color: var(--white);
  width: 100%;
  padding: 10px 0;
  display: none;
}

.subnav-content a {
  color: var(--black);
  text-decoration: none;
  padding: 10px 0;
  margin: 20px 0;
  text-align: center;
}

.subnav:hover .subnav-content {
  display: block;
  position: relative;
  z-index: 1;
}

body {
  background: #21242c;
}

/* Scroll down arrow */

.wrapper {
  width: 100%;
  height: 100%;
  z-index: 12;
}

.arrow {
  width: 38px;
  height: 192px;
  margin: auto;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  position: absolute;
  left: 0;
  right: 0;
  bottom: 24px;
  opacity: 0.5;
  transition: ease 1s;
  animation: bouncey 1.6s linear infinite;
}

.arrow ul {
  list-style: none;
}

.arrow ul li {
  width: 24px;
  height: 4px;
  background: white;
  /* Glow on scroll arrow */
  box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.7);
}

.arrow ul li:nth-child(1) {
  left: 0;
  top: 0;
  position: absolute;
  transform: rotate(45deg);
  border-radius: 5px 0 0 5px;
}

.arrow ul li:nth-child(2) {
  left: 14px;
  position: absolute;
  border-radius: 0 5px 5px 0;
  top: 0;
  transform: rotate(-45deg);
}

.arrow:hover {
  opacity: 1;
}

@keyframes bouncey {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(4px);
  }

  100% {
    transform: translateY(0);
  }
}

.scrollTxt {
  margin: 24px 0;
  /* Add space above and below */
  text-align: center;
  /* Center text within the container */
  text-indent: -24px;
}

li {
  display: inline;
}

li.subnav-content {
  text-align: center;
}

ul {
  list-style: none;
  z-index: 2;
}

p {
  text-decoration: none;
  margin-left: 1.5em;
  margin-right: 1.5em;
  font-size: 1em;
  color: #FFF;
}

a {
  text-decoration: none;
  margin-left: 1.5em;
  margin-right: 1.5em;
  font-size: 1em;
  color: #FFF;
}

a:hover {
  color: #FFD700;
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* Header */
.header {
  background-color: var(--black);
  box-shadow: 1px 1px 5px 0px var(--gray);
  position: sticky;
  z-index: 20;
  top: 0;
  width: 100%;
}

/* Logo */

.header #ooricLogo {
  height: 68.6px;
  width: 259px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 24px;
  vertical-align: middle;
  transition: box-shadow 0.2s;
}

.header #ooricLogoLink {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

.header #ooricLogoLink:hover #ooricLogo {
  outline: 4px solid #FFD700; 
  outline-offset: -4px;
}

/* Menu Icon */
.hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}

.hamb-line {
  background: var(--white);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

.hamb-line::before,
.hamb-line::after {
  background: var(--white);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 5px;
}

.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
}

/* Toggle menu icon */
.side-menu:checked~nav {
  max-height: 100%;
  display: block;
}

.side-menu:checked~.hamb .hamb-line {
  background: transparent;
}

.side-menu:checked~.hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked~.hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

.side-menu:checked~.nav .subnav-content {
  display: block;
}

.side-menu:checked~.nav .toggle-menu-label .caret {
  transform: rotate(180deg);
  transition: none;
}

/* Responsiveness */
@media (min-width: 940px) {
  .nav {
    max-height: none;
    margin-left: auto;
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    text-align: right;
    float: right;
    background-color: transparent;
  }

  /* Sub nav */
  .subnav-content {
    padding: 20px 0;
    display: none;
    background-color: var(--black);
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .subnav-content a {
    color: white;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .menu li {
    float: left;
  }

  .menu a:hover {
    background-color: transparent;
    color: #FFD700;
    font-weight: bolder;
    text-underline-offset: 8px;
  }

  .hamb {
    display: none;
  }
}

/* Section 1 Styling*/

#welcome-section {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  /*justify-content: center;*/
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(90deg, #878780 0%, #3f5EFB 100%);
  /*background-image: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/AE0qprnW58U2k2WP/view-islands4-A856pX7yBRH5Oo8B.jpeg);*/
  background-size: cover;
  background-repeat: no-repeat;
}

#welcome-section p a {
  color: #FFF;
  margin: 0;
}

#welcome-padding {
  padding: 10px;
}

#welcome-li {
  display: list-item;
  list-style: disc;
}

#welcome-li a {
  color: #FFF;
  margin: 0;
}

.welcome-list {
  padding-left: 100px;
  padding-right: 10px;
  padding-bottom: 40px;
  list-style: disc;
}

/* overlay effect to make background image darker to see text */
.overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(54, 56, 63, 0.3), rgba(54, 56, 63, 0.3));
  z-index: 1;
}

@media (max-width: 768px) {
  #welcome-padding {
    margin-top: -80px;
  }
  #welcome-section p {
    text-align: center;
  }
}

/* Projects section */

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: #ECEFF1;
}

.projects-section-header {
  max-width: 640px;
  margin: 3rem auto 6rem auto;
  word-spacing: 4px;
  letter-spacing: 3px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  justify-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

@media (max-width: 768px) {
  .projects-section {
    padding: 6rem 1rem;
  }
  .projects-section-header {
    font-size: 4rem;
  }
  .projects-grid {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}

.project {
  background: #000000;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 28px;
  transition: all 2s, transform 0.5s, box_shadow 0.5s;
  max-width: 352px;
  max-height: 400px;
}

.project:hover {
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.6);
  transform: scale(1.08);
  position: relative;
  z-index: 5;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 28px;
  border-top-left-radius: 28px;
}

.project-title {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  text-align: center;
  padding: 2rem 0.5rem;
  color: #FFF;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

/* Contact section */
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100px;
  padding: 0 2rem;
  padding-top: 48px;
  padding-bottom: 48px;
  background: #363748;
}

.contact-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  /* Adjust the max-width as needed */
  margin: 0 auto;
  background: #AD1457;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 28px;
  transition: all 2s, transform 0.5s, box_shadow 0.5s;
}

.contact .project-image {
  height: 325px;
  /* Adjust the height as needed */
  width: 305px;
  object-fit: cover;
  border-top-right-radius: 28px;
  border-top-left-radius: 28px;
}

.contact .project-title {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  text-align: center;
  padding: 2rem 0.5rem;
  color: #FFF;
  text-transform: uppercase;
}

.contact-section-header>h2 {
  font-size: 48px;
}

#contact-intro-phrase {
  color: #FFF;
  border: none;
}

#contact-intro-subphrase {
  padding-bottom: 24px;
}

.contact {
  background: #000000;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 28px;
  transition: all 2s, transform 0.5s, box_shadow 0.5s;
  height: 60%;
}

.contact:hover {
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.6);
  transform: scale(1.08);
  position: relative;
  z-index: 5;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1F1F1F;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
  color: #FFD700;
}

#linkedin-icon {
  margin-left: 8px;
}

@media (max-width: 768px) {
  .contact-section {
    padding-top: 24px;
    padding-bottom: 24px;
    height: 100%;
  }

  .contact-section-header>h2 {
    font-size: 48px;
  }
}

/* Footer Section */
footer {
  font-weight: 300;
  display: flex;
  justify-content: center;
  padding: 2.2rem;
  background: #0C344E;
  border-top: 4px solid #BFC8EA;
  min-height: 2rem;
}

#foot {
  color: #FFF;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 768px) {
  footer {
    text-align: center;
  }

  #foot .by-break::before {
    content: "\A";
    white-space: pre;
  }

  #foot .by-break {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
  }

  #foot .by-break a {
    margin-left: 0.5rem;
  }

  #foot .fa {
    font-size: 24px;
    margin-top: 8px;
  }

  #foot span.by-break {
    margin-left: 24px;
  }
}

#fot {
  margin-left: -0.1rem;
  color: #FF9F5C;
  font-family: "Poppins", sans-serif;
}

#fot:hover {
  color: #FFD700;
}

#iframe-container {
  display: flex;
  flex-direction: column;
}

#footerSection {
  border: none;
  margin-bottom: 0;
}

#profile-link {
  margin: 0;
  padding: 0;
}

i {
  margin-right: 8px;
  margin-left: 24px;
}

/* About Me */

.about,
.work,
.accolades,
.contact-info-section {
  padding: 20px;
  background-color: #F3F3F2;
}

h3 {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #4A4A43;
  text-align: center;
  padding-top: 5px;
}

h3 a {
  -webkit-text-fill-color: #4A4A43;
  margin: 0;
}

#greetingId {
  margin-bottom: 20px;
  -webkit-text-fill-color: #4A4A43;
}

#greetingId #youtube-header-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 72px;
  -webkit-text-fill-color: #4A4A43;
  margin: 0;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
}

.paragraphs {
  flex: 1;
  padding-right: 20px;
  text-align: left;
  color: #4A4A43;
}

.paragraphs h2 {
  padding-right: 20px;
  text-align: left;
  font-family: "Libre Caslon Display", serif;
  color: #4A4A43;
  font-size: 36px;
}

.paragraphs p {
  text-align: left;
  margin-bottom: 40px;
  color: #4A4A43;
}

.about-work .work .paragraphs p {
  margin-bottom: -24px;
}

.image-container {
  flex: 1;
  text-align: center;
}

.image-container img {
  width: 400px;
  height: 600px;
}

#videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

#videos .link-tile {
  border: 2px solid #000000;
  flex-basis: 0;
  flex-grow: 1;
  margin-bottom: 10px;
}

#videos .link-tile .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 100%;
  flex-grow: 1
}

#videos .link-tile p {
  margin-bottom: 20px;
}

#videos .link-tile h2 {
  word-wrap: break-word;
}

.youtube-video {
  display: block;
  margin: 0 auto;
    width: 560px;
  height: 315px;
}

@media (max-width: 768px) {
  #greetingId #youtube-header-link {
    font-size: 48px;
  }
  #videos {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }
  #videos .link-tile {
    padding: 0 4%;
  }

  .youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
    max-width: 560px;
  }

  #videos h2 {
    font-size: 36px;
    text-align: center;
  }
}

/* Links */
.links {
  padding: 20px;
  background-color: #FFFFFF;
}

.links .paragraphs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.paragraphs a {
  margin-left: 0em;
  margin-right: 0em;
  font-family: "Libre Caslon Display", serif;
  font-weight: normal;
  color: #4A4A43;
}

.paragraphs a:hover {
  background-color: transparent;
  color: #000000;
  font-weight: bolder;
}

.link-tile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid black;
}

.link-tile img {
  width: 100px;
  height: auto;
  margin-right: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.link-tile .content {
  display: flex;
  flex-direction: column;
}

.link-tile h2 {
  margin: 0;
  padding-left: 10px;
}

.link-tile a {
  display: inline;
  align-items: center;
  text-decoration: none;
  color: #000000;
}

.link-tile a:hover {
  text-decoration: underline;
  background-color: transparent;
  font-weight: bolder;
}

.link-tile p a:hover {
  background-color: transparent;
  color: #000000;
  font-weight: bolder;
}

@media (max-width: 768px) {
  #greetingId {
    margin-bottom: 10px;
    flex-wrap: wrap;
    font-size: 44px;
  }

  .link-tile img {
    width: 50px;
    height: auto;
    margin-right: 5px;
  }

  .links .paragraphs {
    grid-template-columns: 1fr;
  }

  .paragraphs p {
    margin-bottom: 20px;
  }
}

/* Education section */
.education-section {
  background-color: #F3F3F2;
}

.education-section .content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.education-section .content-container img {
  width: 20%;
  height: auto;
  margin-bottom: 40px;
  border: 1px solid black;
}

.title-container {
  padding-top: 20px;
  border-top: none;
  text-align: center;
  margin-bottom: 20px;
}

.column-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.column {
  flex: 1;
}

.column-header {
  height: 100px;
  margin-bottom: 20px;
  background-color: #F2F2F2;
  padding: 10px 0;
}

.column-header h2 {
  font-size: 36px;
  text-align: center;
  color: #4A4A43;
}

.placeholder {
  height: 100px;
}

.tile-container {
  display: flex;
  flex-wrap: wrap;
}

.tile {
  width: 100%;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin: 20px;
  padding: 10px;
  background-color: #EBEBEB;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-row {
  text-align: center;
  margin-bottom: 10px;
}

.text-row h3 {
  font-size: 24px;
}

.text-row p,
a {
  font-size: 16px;
  color: #4A4A43;
}

/* Media query for mobile */
@media (max-width: 768px) {
  .education-section {
    flex-direction: column;
  }

  .education-section .content-container img{
    width: 280px;
    height: 280px;
  }

  .image-container img {
    order: -1;
    margin-bottom: 20px;
    width: 200px;
    height: 300px;
  }

  .column-header, .tile-container {
    max-width: 100%;
    margin: 0 auto;
  }

  .column-header,
  .tile-container .tile {
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .column-container {
    flex-direction: column;
    align-items: center;
  }
  
  .column-header h2 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }

  .column-header,
  .tile-container .tile .text-row p a {
    margin: 0 auto;
  }

  .tile-container {
    justify-content: center;
    align-items: center;
  }

  .column:nth-child(3) .column-header {
    display: none;
  }
}

/* Roles */
#tester, #test-methods, #developer, #uxdesign, #uxd-methods, #leader {
  scroll-margin-top: 90px;
}

.black {
  color: black;
}

.testing,
#uxdesign, #prototype-section {
  padding: 20px;
  background-color: #FFFFFF;
}

.uxd-section {
  padding: 20px;
  background-color: #F2F2F2;
}

.testing .paragraphs, .ux .paragraphs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.method-tile {
  flex-basis: calc(50% - 10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid black;
}

.method-tile img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.method-tile .content {
  text-align: center;
}

.method-tile h2 {
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.method-tile p {
  margin: 0;
  padding: 0;
}

.method-tile a {
  display: inline;
  align-items: center;
  text-decoration: none;
  color: #4A4A43;
}

.method-tile a:hover {
  text-decoration: underline;
}

#uxdesign .paragraphs {
  text-align: center;
  color: #4A4A43;
}

#uxdesign .list-container {
  text-align: left;
  margin: 0 auto;
  max-width: 800px;
}

#ms-paragraph .list-container {
  text-align: left;
  margin: 0 auto;
  max-width: 800px;
}

.course-list {
  padding-left: 40px;
  list-style-position: inside;
  padding-top: 10px;
}

#course-li {
  display: list-item;
  /* Display each list item on a new line */
  margin-bottom: 10px;
  list-style: disc;
  text-align: left;
}

.about-work .paragraphs .viewPrototype {
  text-align: center;
}

#tester .paragraphs, #developer .paragraphs, #prototypeParagraphs, #leader .paragraphs {
  padding-bottom: 20px;
}

#prototypeParagraphs #lowFiPrototypeImg {
  max-width: 100%; /* Set the maximum width to 100% */
  height: auto;
  margin-right: 5px;
}

#prototypeParagraphs #highFiPrototypeImg:hover {
  border: 2px solid #000000; /* Apply the black solid border on hover */
}

@media (max-width: 768px) {
  .method-tile img {
    width: 100px;
    height: auto;

  }
  .course-list, .microsoft-list {
    margin-top: 10px;
  }

  .testing .paragraphs, .ux .paragraphs {
    grid-template-columns: 1fr;
  }

  .paragraphs p {
    margin-bottom: 20px;
  }

  #prototypeParagraphs img {
    width: 280px;
    height: auto;
    margin-right: 5px;
  }
}

/* About Deloitte */

.about-work p {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.clients-section p {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.clients-section {
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #FFFFFF;
}

.client-row {
  display: flex;
  justify-content: center;
  /* Center the entire row horizontally */
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  max-width: 1200px;
  margin: 0 auto;
  /* Center the row horizontally within its container */
  margin-top: 16px;
}

.client-row img {
  max-width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.client-row a:hover > img {
  box-shadow: 0 0 0 4px #FFD700;
  outline-offset: -4px;
}


@media (max-width: 768px) {
  .client-row {
    flex-direction: column;
    align-items: center;
  }

  .client-row img {
    max-height: 100%;
    width: auto;
    height: 200px; /* Set the desired fixed height for each client row */
    object-fit: contain;
  }
  .client-row a {
    padding-top:20px;
    padding-bottom:20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .client-row #MacOffice2011-link {
    margin: 0px;
    padding: 0;
  }
  
  .client-row #MacOffice2011-logo {
    width: 100%; /* Increase the width to make the image larger */
    max-width: none;
  }
}

/* About Amazon */
.client-row img#kindleLogo {
  height: auto;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 300px;
  height: 300px;
}

/* About Microsoft */

#ms-paragraph {
  flex: 1;
  padding-right: 20px;
  text-align: center;
  color: #4A4A43;
}

.microsoft-list {
  display: inline-block;
  padding-left: 0;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 32px;
  list-style-position: inside;
  text-align: left;
}

.microsoft-list li {
  display: flex;
  align-items: center;
}

.microsoft-list li:before {
  content: "•";
  margin-right: 0.5em;
  margin-left: 1.5em;
}

#accolades {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-style: italic;
}

#accolades p.notItalic {
  font-style: normal;
}

#accolades p.chartRibbonQuote {
  margin-top: -30px;
}

#accolades h2 {
  padding-right: 20px;
  text-align: left;
  font-family: "Libre Caslon Display", serif;
  color: #4A4A43;
}

#accolades p {
  text-align: left;
  margin-bottom: 40px;
  color: #4A4A43;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .microsoft-list li {
    align-items: flex-start;
    /* Align the list items to start from the top */
  }
}

/* Contact Eric */
.contact-form {
  margin: 0 auto;
  max-width: 400px;
  height: auto;
  padding: 20px;
  text-align: center;
}

.contact-info-section .column-container .contact-column .tile-container .tile .text-row {
  display: flex;
  align-items: center;
}

.contact-info-section .column-container .contact-column .tile-container .tile .text-row p:not(:last-child) {
  margin-right: 10px;
}

.tile-container a {
  background-color: transparent;
  color: #000000;
  font-weight: bolder;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: left;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 8px;
  border: 2px solid #CCC;
  margin-bottom: 10px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  padding: 8px;
  border: 2px solid #CCC;
  margin-bottom: 10px;
  box-sizing: border-box;
  height: 200px;
  resize: none;
}

#message-character-count {
  display: block;
  text-align: right;
  bottom: 8px;
  font-size: 12px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
  border-color: #CCC;
}

.error-message {
  display: none;
  color: red;
  margin-top: 5px;
  text-align: left;
}

button[type="submit"] {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 20px auto;
  padding: 10px;
  background-color: #007Bff;
  color: #FFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

button[type="submit"]:hover {
  background-color: #0056B3;
}

@media (max-width: 768px) {
  .google-map {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
  }
  
  .contact-info-section .column-container, .google-map {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 100%; 
    overflow: hidden; 
  }

  .contact-info-section .column-container .tile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%; 
    overflow: hidden; 
  }

  .contact-info-section .column-container .tile {
    width: 90%;
    max-width: 600px;
    margin: 0 auto 20px;
    box-sizing: content-box;
  }
}